body {
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Color de texto claro */
    font-family: 'Arial', sans-serif; /* Fuente simple y legible */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #1e1e1e; /* Fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.caja, .cajas {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333; /* Borde oscuro */
    border-radius: 4px;
    background-color: #2a2a2a; /* Fondo de los inputs */
    color: #e0e0e0; /* Color de texto en inputs */
}

.caja::placeholder, .cajas::placeholder {
    color: #888; /* Color del placeholder */
}

.boton {
    background-color: #6200ea; /* Color del botón */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #3700b3; /* Color del botón al pasar el mouse */
}
